@import "src/styles/_colors.scss";
@import "src/styles/styles.scss";


.menuButton{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding: 5px;
	background-color: $light-green;
}